{% extends 'base.html.twig' %}

{% block title %}Hello NcvoController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }

        th {
            text-align: left;
        }
    </style>

    {% if whoAmI %}
        <div class="example-wrapper">
            <h1>Hello {{ whoAmI.name }}! ✅</h1>
            <table>
                <tr>
                    <th>NCVO UUID</th>
                    <td>{{ whoAmI.uuid }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ whoAmI.email }}</td>
                </tr>
                <tr>
                    <th>Email verified?</th>
                    <td>{% if whoAmI.getEmailVerified %}Yes{% else %}No{% endif %}</td>
                </tr>
                {% if whoAmI.getAppMetadata.organisation %}
                    <tr>
                        <th>Organisation</th>
                        <td>{{ whoAmI.getAppMetadata.organisation.name }} ({{ whoAmI.getAppMetadata.organisation.id }})</td>
                    </tr>
                    <tr>
                        <th>Member Org?</th>
                        <td>{% if whoAmI.getAppMetadata.organisation.membershipOrganisation %}Yes{% else %}No{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Org state</th>
                        <td>{{ whoAmI.getAppMetadata.organisation.organisationState.name }}</td>
                    </tr>
                    <tr>
                        <th>Can manage the org?</th>
                        <td>{% if whoAmI.getAppMetadata.managerFlag %}Yes{% else %}No{% endif %}</td>
                    </tr>
                {% endif %}
            </table>
            <div><a class="button button--blue" href="{{ backcontroller_base }}/api/auth/logout">Logout</a></div>
        </div>
    {% else %} {# Not logged in #}
        <div class="example-wrapper">
            <h1>Not Logged In</h1>
        </div>
    {% endif %}
{% endblock %}
